.calendar-container {
  background: #fff;
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-bottom: 20px;
  box-shadow: var(--shadow);
  max-width: var(--container-width);
}

.month-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 10px;
  border: 2px solid rgba(221, 221, 221, 0.56);
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 20px;
}

.month-dropdown {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.month-dropdown .month-name {
  font-weight: 500;
  color: #333333eb;
}

.month-dropdown .arrow {
  font-size: 0.8rem;
  color: #333;
}

.nav-arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-arrows a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #333;
}

.nav-arrows a:hover {
  color: #611e71;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  width: calc(100% / 7);
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.calendar td {
  height: 50px;
  vertical-align: middle;
  cursor: pointer;
}

.calendar td:hover {
  background-color: #eaeaea;
}

.selectable {
  cursor: pointer;
  background-color: #e6f7ff;
}

.selectable a {
  text-decoration: none;
  color: black;
  display: block;
  width: 100%;
  height: 100%;
}

.selectable a:hover {
  background-color: #f0f0f0;
}

.selected {
  background-color: #d3d3d3;
  font-weight: bold;
}